i { font-style: normal; }

.icon {
  cursor: pointer;

  & > svg, & > img {
    user-select: none;
    fill: var(--white);
    stroke: var(--white);
    transition: all 0.1s ease;
    filter: var(--filter);
    height: 48px;
    width: auto;
  }
  & > img > svg {
    user-select: none;
    fill: var(--white);
  }
  &:hover {
    & > svg, & > img {
      fill: var(--white);
      stroke: var(--white);
      transform: translateY(-4px);
      filter: var(--hover-filter);
    }
  }

  &:active {
    & > svg, & > img {
      filter: var(--filter);
      transform: translateY(0px);
    }
  }

  &--spin {
    &:active {
      & > svg, & > img {
        filter: var(--filter);
        transform: translateY(0px) rotate(-180deg);
      }
    }
  }
}
